

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    padding-top: 50px;
    padding-bottom: 20px;
}
.navbar-nav {
	float: right;
}
.navbar-inverse {
  background-color: #436575;
  background-image: none;
}
.banner,
.thumb {
	width: 100%;
}
.icons img {
	width: 20px;
}














